#form-box{
border: 1px solid royalblue;
width: 50%;
margin: auto;
margin-top: 30px;
}

#form-box form input{
    display: flex;
    margin: auto;
    width: 80%;
    margin-top: 20px;
    padding: 10px;
}